body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

nav {
    background: #0033a0;
    padding: 10px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 40px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}

#profile-pic {
    width: 180px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#weather-display {
    font-size: 18px;
    font-weight: bold;
}
